[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/coder-portfolio"]
	path = themes/coder-portfolio
	url = https://github.com/naro143/hugo-coder-portfolio.git
[submodule "themes/uBlogger"]
	path = themes/uBlogger
	url = https://github.com/upagge/uBlogger.git
